.contact-us {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #FF6565;
    padding: 10px 20px;
    cursor: pointer;
}
